#an example for how we might want to setup our crontab on our VM to
#schedule benchmark runs.

# m h  dom mon dow   command

#run the benchmark every 3 hours 
#every day of the week, every day of the month, every month
 0 0,3,6,9,12,15,18,21 * *  * python /path/to/script/runbenchmarks.py
